<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Currículum Vitae</title>
</head>
<body>
    <header>
        <img src="/static/foto_profesional.jpeg" alt="Foto Profesional" width="150">
        <h1>Miguel Adrian Tubac Agustin</h1>
        <p>Estudiante de la carrera Ingeniería en Ciencias y Sistemas de la Universidad San Carlos de Guatemala</p>
    </header>

    <section>
        <h2>Datos de Contacto:</h2>
        <p>Dirección: Ciudad de Guatemala</p>
        <p>Teléfono: +502 5132 1061</p>
        <p>Email: mgtubac@gmail.com</p>
    </section>

    <section>
        <h2>Nivel de Estudios</h2>
        <table>
            <tr>
                <th>Grado</th>
                <th>Institución</th>
                <th>Año de Finalización</th>
            </tr>
            <tr>
                <td>Bachiller Industrial y Perito en Mecánica Diesel</td>
                <td>Instituto Técnico Hino</td>
                <td>2018</td>
            </tr>
            <!-- Aqui puedo agregar mas filas  -->
        </table>
    </section>

    <section>
        <h2>Habilidades</h2>
        <table>
            <tr>
                <th>Habilidad</th>
                <th>Nivel</th>
            </tr>
            <tr>
                <td>Adaptable </td>
                <td>Avanzado</td>
            </tr>
            <tr>
                <td>Ética profesional</td>
                <td>Avanzado</td>
            </tr>
            <tr>
                <td>Resolución de problemas</td>
                <td>Avanzado</td>
            </tr>
            <tr>
                <td>Innovador</td>
                <td>Avanzado</td>
            </tr>
            <tr>
                <td>Programación</td>
                <td>Intermedio</td>
            </tr>
            <!-- Aqui puedo agregar mas filas -->
        </table>
    </section>

    <section>
        <h2>Cursos</h2>
        <table>
            <tr>
                <th>Institución</th>
                <th>Habilidad adquirida</th>
                <th>Fecha</th>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Seguridad Industrial y Filosofía Kaizen</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Sistema de Frenos de Aire</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Sistema de Embrague Y Transmisión M550</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Inducción a Servicios</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Componentes Electrónicos Y Lectura de Diagramas</td>
                <td>2017</td>
            </tr>
            <tr>
                <td>Motores Hino de Guatemala</td>
                <td>Motor J08 e Instrumentos de Medición</td>
                <td>2017</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Facultad de Ingeniería SAE-SAP</td>
                <td>MICROSOFT WORD VIRTUAL</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Facultad de Ingeniería SAE-SAP</td>
                <td>INTERNET VIRTUAL</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Facultad de Ingeniería SAE-SAP</td>
                <td>MICROSOFT EXCEL VIRTUAL</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Facultad de Ingeniería SAE-SAP</td>
                <td>WINDOWS 8 VIRTUAL</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Platzi</td>
                <td>Strategies To Learn English Online</td>
                <td>2021</td>
            </tr>
            <tr>
                <td>Platzi</td>
                <td>Basic English Course: Pronunciation</td>
                <td>2021</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Facultad de Ingeniería SAE-SAP</td>
                <td>PYTHON BÁSICO</td>
                <td>2022</td>
            </tr>
            <tr>
                <td>Universidad de San Carlos de Guatemala, Dirección General de Investigación</td>
                <td>Google Académico</td>
                <td>2022</td>
            </tr>
            <!-- Aqui puedo agregar mas filas -->
        </table>
    </section>

    <section>
        <h2>Intereses</h2>
        <ul>
            <li>Tecnología</li>
            <li>Informática</li>
            <li>Ciencia</li>
            <li>Matemática</li>
            <!-- Agregar más elementos según sea necesario -->
        </ul>
    </section>

    <section>
        <h2>Hobbies</h2>
        <ul>
            <li>Mountain Bike (MTB)</li>
            <li>Box</li>
            <!-- Agregar más elementos según sea necesario -->
        </ul>
    </section>

</body>
</html>
